.slideContainer {
 position: relative;
 width: 100%;
 height: 470px;
}

.slideImage {
 height: 100%;
 width: 100%;
 object-fit: cover;
 max-width: 100%;
}

.overlay {
 position: absolute;
 bottom: 0;
 left: 0;
 padding: 16px;
 background-color: transparent;
 color: white;
}

.titulo {
 height: 97.48147583007812px;
 width: 379px;
 margin-left: 65px;
 margin-bottom: 26.69px;
 font-size: 35px;
 font-weight: 700;
 line-height: 42px;
 text-align: left;
}

.navigation {
 position: absolute;
 bottom: 27.85px;
 left: 0;
 right: 0;
 display: flex;
 justify-content: space-between;
}

.prevButton,
.nextButton {
 width: 40px;
 height: 40px;
 background-color: transparent;
 border: none;
 color: white;
 font-size: 30px;
 cursor: pointer;
 position: absolute;
 top: 50%;
 transform: translateY(-600%);
}

.prevButton {
 left: 16px;
}

.nextButton {
 right: 16px;
}

.dots {
 position: absolute;
 bottom: 27.85px;
 left: 50%;
 transform: translateX(-50%);
 display: flex;
 gap: 22px;
 align-items: center;
}

.dot {
 width: 15px;
 height: 15px;
 background-color: rgba(255, 255, 255, 0.5);
 border-radius: 50%;
 cursor: pointer;
}

.activeDot {
 background-color: #ffffff;
}
