.acaoContainer{
    padding-left: 80px;
    padding-right: 71px;
    padding-top: 10px;
  }
  .div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .div p{
    width: 570px;

    color: #585858;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;

    padding-bottom: 50px;
    margin-right: 50px;
  }
  .tituloAcoes{
    color: #6a8552;
    font-size: 26px;
    font-weight: 900;
    line-height: 30px;
    text-align: left;
    
    margin-top: 30px;
    margin-bottom: 26px;

    width: 300px;
  }
  
  .containerAgende{
    display: flex;
    justify-content: flex-end;
  }
  .containerAgende a{
    margin-top: 33px;
  
    width: 172px;
    height: 37px;
  
    background: #DC9D0B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.425);
    border-radius: 20px;
  
    display: flex;
    justify-content: center;
  }
  .containerAgende button{
    background: transparent;
  
    border: none;

    color: #fff;
    font-size: 13px;
    font-weight: 700;
  
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    cursor: pointer;
}
.containerAgende:hover{
  opacity: 0.8;
  transition: .4s;
}
  .acoes{
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }
  .acao{
    width: min-content;
    height: max-content;
    border-radius: 6px;

    padding: 8px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .acao img{
    height: 204px;
    width: 293px;
    border-radius: 6px;
  
    margin-bottom: 10px;
  }
  .acao p{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: justify;
    
  }
  .acao h3{
    font-family: 'Inter', sans-serif;
    margin-bottom: 11px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    color: #303030;
  }
  .textAgende{
    padding-left: 9px;
  }
  

.button{
  height: 35px;
  width: 100px;

  background-color: #DC9D0B;

  border: none;
  border-radius: 5px;

  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: white;

  margin-top: 10px;

  cursor: pointer;
}
.button:hover{
  opacity: 0.8;
  transition: .4s;
}

@media screen and (max-width: 480px){
  .acaoContainer{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 22px;
    padding-top: 30px;
  }
  .div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .div p{
    width: 93%;
    font-size: 14px;

    padding-bottom: 50px;
    margin-right: 0px;
  }
  .tituloAcoes{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 22px;
    margin-left: 20px;

    width: 100%;
  }
  
  .containerAgende{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
  .containerAgende a{
    margin-top: 53px;
  
    width: 172px;
    height: 37px;
  
    background: #DC9D0B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.425);
    border-radius: 20px;
  
    display: flex;
    justify-content: center;
  }
  .containerAgende button{
    background: transparent;
  
    border: none;

    color: #fff;
    font-size: 13px;
    font-weight: 700;
  
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    cursor: pointer;
}
  .acoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  .acao{
    width: min-content;
    height: max-content;
    border-radius: 6px;

    padding: 8px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .acao img{
    height: 204px;
    width: 293px;
    border-radius: 6px;
  
    margin-bottom: 10px;
  }
  .acao p{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: justify;
    
  }
  .acao h3{
    font-family: 'Inter', sans-serif;
    margin-bottom: 11px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    color: #303030;
  }
  .textAgende{
    padding-left: 9px;
  }
  

.button{
  height: 35px;
  width: 100px;

  background-color: #DC9D0B;

  border: none;
  border-radius: 5px;

  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: white;

  margin-top: 10px;

  cursor: pointer;
}
.button:hover{
  background-color: #dc7b0b;
}

}