.containerInfor{
  display: flex;
  justify-content: space-around;
  background-color: #2F7931CC;

  padding-top: 60px;
  padding-bottom: 30px;
}
.containerInfor h2{
  font-size: 16px;
  font-weight: 700;
  color: #000000cc;

  margin-bottom: 20px;
}
.redes div div{
  display: flex;

  gap: 20px;
}
.pages div ul li {
  font-size: 14px;
  font-weight: 600;
  margin: 12px 0;
  color: #002401cc;
}
.pages div ul li:hover, .contatos:hover,.redes div div a svg:hover, .endFooter p a:hover{
  opacity: 0.7;
  transition: .4s;
}
.participe div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
  gap: 20px;
}
.contatos{
  margin-top: 10px;

  font-size: 14px;
  font-weight: 600;
  color: #002401cc;
}
.participe div button{
  width: 205px;
  height: 40px;

  border: 1px solid black;
  background-color: #00240141;
  border-radius: 6px;

  font-size: 16px;
  font-weight: 700;
  color: #f3fff4cc;

  cursor: pointer;
}
.participe div button:hover{
  opacity: 0.7;
}
.endFooter{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #2F7931CC;

  font-size: 11px;
  font-weight: 400;

  margin-top: 10px;
  padding: 20px 0;
}
@media screen and (max-width: 480px){
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2F7931CC;
  }
  .containerInfor{
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: transparent;
    
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .containerInfor h2{
    font-size: 16px;
    font-weight: 700;
    color: #000000cc;
  
    margin-bottom: 20px;
  }
  .pages{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .participe{
    display: flex;
    flex-direction: column;
  }
  .redes{
    display: flex;
    flex-direction: column;
  }
  .redes div div{
    display: flex;
  
    gap: 30px;
  }
  .redes h2{
    margin-top: 50px;
  }
  .pages div ul li {
    font-size: 14px;
    font-weight: 600;
    margin: 12px 0;
    color: #002401cc;
  }
  .pages div ul li:hover, .contatos:hover,.redes div div a svg:hover, .endFooter p a:hover{
    opacity: 0.7;
    transition: .4s;
  }
  .participe div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    margin-top: 10px;
    gap: 20px;
  }
  .contatos{
    margin-top: 10px;
  
    font-size: 14px;
    font-weight: 600;
    color: #002401cc;
  }
  .participe div button{
    width: 205px;
    height: 40px;
  
    border: 1px solid black;
    background-color: #00240141;
    border-radius: 6px;
  
    font-size: 14px;
    font-weight: 700;
    color: #f3fff4cc;
  
    cursor: pointer;
  }
  .participe div button:hover{
    opacity: 0.7;
  }
  .endFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    background-color: transparent;
  
    font-size: 11px;
    font-weight: 400;
  
    margin-top: 10px;
    padding: 20px 0;
  }
}