.parceiroContainer{
  background-image: url('/images/bg_parceiros.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  padding: 40px 0;
}
.parceiros{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-bottom: 24px;
  gap: 60px;
}
.divInicio{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.divInicio p{
  width: 480px;
  margin-right: 80px;

  color: white;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
}
.parceiro{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(9, 255, 0);

  width: 200px;
  height: 120px;
}
  .tituloParceiro{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 26px;
    font-weight: 900;
    line-height: 30px;
    text-align: left;
  
    margin-top: 29px;
    margin-left: 80px;
    margin-bottom: 37px;
  }
  .image1{
    height: 95px;
    width: 143px;
  }
  .image2{
    height: 130px;
    width: 100px;
  }
  .image3{
    height: 86px;
    width: 134px;
  }
  .containerAgende{
    display: flex;
    justify-content: flex-end;

    margin-right: 20px;
    margin-bottom: 30px;
  }
  .containerAgende a{
    margin-top: 23px;
  
    width: 172px;
    height: 37px;
  
    background: #2EB431;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.425);
    border-radius: 20px;
  
  
    display: flex;
    justify-content: center;
  }
  .containerAgende button{
    background: transparent;
  
    border: none;
    color: #fff;
  
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    cursor: pointer;

    font-family: 'Inter', sans-serif;
}
@media screen and (max-width:480px){
  .parceiroContainer{
    background-image: url('/images/bg_parceiros.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    padding: 30px 0;
  }
  .parceiros{
    padding-top: 20px;
    padding-bottom: 24px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
    gap: 10px;
  }
  .divInicio{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: baseline;
    margin-left: 20px;
  }
  .divInicio p{
    width: 93%;
    margin-right: 0px;
  
    color: white;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 600;
  }

  .parceiro{
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(9, 255, 0);
  
    width: 110px;
    height: 70px;
  }
  .tituloParceiro{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 26px;
    font-weight: 900;
    line-height: 30px;
    text-align: left;
    
    margin-top: 29px;
    margin-left: 0px;
    margin-bottom: 37px;
  }
    .image1{
      height: 75px;
      width: 123px;
    }
    .image2{
      height: 85px;
      width: 65px;
    }
    .image3{
      height: 60px;
      width: 100px;
    }
    .containerAgende{
      display: flex;
      justify-content: flex-end;
  
      margin-right: 20px;
    }
    .containerAgende a{
      margin-top: 23px;
    
      width: 172px;
      height: 37px;
    
      background: #2EB431;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.425);
      border-radius: 20px;
    
    
      display: flex;
      justify-content: center;
    }
    .containerAgende button{
      background: transparent;
    
      border: none;
      color: #fff;
    
      display: flex;
      justify-content: center;
      align-items: center;
  
      gap: 10px;
  
      cursor: pointer;
  
      font-family: 'Inter', sans-serif;
  }
}