.parceiroContainer{
  position: relative;

  padding: 40px 0;
  padding-bottom: 60px;
  margin-bottom: 10px;
}
.parceiroContainer::after {
  content: '';
  background-image: url('/images/bg_parceiros.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: -1;
}
.parceiros{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-bottom: 24px;
  gap: 60px;
}
.divInicio{
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.divInicio p{
  width: 500px;
  margin-right: 80px;
  margin-bottom: 40px;

  color: white;
  font-weight: 600;
  font-size: 16px;
  text-align: justify;
}
.parceiro{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(255, 255, 255);
  border: 1px solid #2F7931CC;
  border-radius: 6px;

  width: 200px;
  height: 120px;
}
  .tituloParceiro{
    font-size: 24px;
    font-weight: 600;

    color: white;

    margin-left: 80px;
    margin-bottom: 20px;
  }
  .image1{
    height: 95px;
    width: 143px;
  }
  .image2{
    height: 130px;
    width: 100px;
  }
  .image3{
    height: 86px;
    width: 164px;
  }
  .containerAgende{
    display: flex;
    justify-content: flex-end;

    margin-right: 80px;
    margin-bottom: 30px;
  }
  .containerAgende a{
    margin-top: 23px;
  
    width: 172px;
    height: 37px;
  
    background: #2EB431;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.425);
    border-radius: 20px;
  
  
    display: flex;
    justify-content: center;
  }
  .containerAgende button{
    background: transparent;
  
    border: none;
    color: #fff;
  
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    cursor: pointer;

    font-family: 'Inter', sans-serif;
}
@media screen and (max-width:480px){
  .parceiroContainer{
    position: relative;
  
    padding: 40px 0;
    padding-bottom: 60px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
  }
  .parceiroContainer::after {
    content: '';
    background-image: url('/images/bg_parceiros.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    z-index: -1;
  }
  .parceiros{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 24px;
    gap: 60px;
  }
  .divInicio{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
  }
  .divInicio p{
    width: 93%;
    margin-right: 0px;
    margin-bottom: 40px;
  
    color: white;
    font-weight: 600;
    font-size: 14px;
    text-align: justify;
  }
  .parceiro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background-color: rgb(255, 255, 255);
    border: 1px solid #2F7931CC;
    border-radius: 6px;
  
    width: 200px;
    height: 120px;
  }
    .tituloParceiro{
      font-size: 18px;
      font-weight: 600;
  
      color: white;
  
      margin-left: 0px;
      margin-bottom: 20px;
      width: 97%;
    }
    .image1{
      height: 95px;
      width: 143px;
    }
    .image2{
      height: 130px;
      width: 100px;
    }
    .image3{
      height: 86px;
      width: 164px;
    }
    .containerAgende{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  
      margin-right: 20px;
      margin-bottom: 30px;
    }
    .containerAgende a{
      margin-top: 23px;
    
      width: 172px;
      height: 37px;
    
      background: #2EB431;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.425);
      border-radius: 20px;
    
    
      display: flex;
      justify-content: center;
    }
    .containerAgende button{
      background: transparent;
    
      border: none;
      color: #fff;
    
      display: flex;
      justify-content: center;
      align-items: center;
  
      gap: 10px;
  
      cursor: pointer;
  
      font-family: 'Inter', sans-serif;
  }
}