.parceiroContainer{
  background-image: url('/images/bg_parceiros.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  padding: 40px 0;
}
.parceiros{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-bottom: 24px;
  gap: 60px;
}
.divInicio{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.divInicio p{
  width: 480px;
  margin-right: 80px;

  color: white;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
}
.parceiro{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(9, 255, 0);

  width: 200px;
  height: 120px;
}
  .tituloParceiro{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 26px;
    font-weight: 900;
    line-height: 30px;
    text-align: left;
  
    margin-top: 29px;
    margin-left: 80px;
    margin-bottom: 37px;
  }
  .image1{
    height: 95px;
    width: 143px;
  }
  .image2{
    height: 130px;
    width: 100px;
  }
  .image3{
    height: 86px;
    width: 134px;
  }
  .containerAgende{
    display: flex;
    justify-content: flex-end;

    margin-right: 20px;
    margin-bottom: 50px;
  }
  .containerAgende a{
    margin-top: 23px;
  
    width: 172px;
    height: 37px;
  
    background: #2EB431;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.425);
    border-radius: 20px;
  
  
    display: flex;
    justify-content: center;
  }
  .containerAgende button{
    background: transparent;
  
    border: none;
    color: #fff;
  
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    cursor: pointer;

    font-family: 'Inter', sans-serif;
}
@media screen and (max-width:480px){
  
.parceiros{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  margin-bottom: 24px;
}
.tituloParceiro{
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;

  margin-top: 29px;
  margin-left: 20px;
  margin-bottom: 37px;
}
.image1{
  height: 45px;
  width: 83px;
}
.image2{
  height: 110px;
  width: 90px;
}
.image3{
  height: 56px;
  width: 134px;
}
.containerAgende{
  display: flex;
  justify-content: flex-end;
}
.containerAgende a{
  margin-top: 53px;

  width: 172px;
  height: 37px;

  background: #2EB431;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.425);
  border-radius: 20px;


  display: flex;
  justify-content: center;
}
.containerAgende button{
  background: transparent;

  border: none;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  font-family: 'Inter', sans-serif;
}
}