.quemSomosContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 108px auto;
}
.textQuemSomos{
    height: 249px;
    width: 600px;
}
.quemSomosContainer h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 42px;
    text-align: left;
    
    margin-bottom: 28px;
    margin-left: 95px;
    margin-top: 20px;
}
.textQuemSomos p{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: justify;
}
.textQuemSomos span{
    font-weight: 600;
    font-size: 14px;
    line-height:16.94px;
}
.imgInstituicao{
    padding: 6px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(219, 219, 219);
}
.imgInstituicao img{
    height: 430px;
    width: 360px;
    border-radius: 10px;
    max-width: min-content;
    object-fit: cover;
}
.container{
    display: flex;
    justify-content: space-around;
}
.containertext{
    display: flex;
    flex-direction: column;

    height: 249px;
    width: 600px;
}
.containertext div h3{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
}
.containertext div{
    font-size: 14px;
    text-align: justify;
}
@media screen and (max-width: 480px){
    .quemSomosContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        margin: 78px auto;
    }
    .textQuemSomos{
        height: 100%;
        width: 340px;
    }
    .quemSomosContainer h1{
        font-size: 18px;
        font-weight: 600;
        line-height: 42px;
        text-align: left;
        
        margin-bottom: 8px;
        margin-left: 20px;
        margin-top: 2px;
    }
    .textQuemSomos p{
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        text-align: justify;
    }
    .textQuemSomos span{
        font-weight: 600;
        font-size: 12px;
        line-height:16.94px;
    }
    .imgInstituicao{
        padding: 6px;
        margin-top: 25px;

        border-radius: 10px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        background-color: rgb(219, 219, 219);
    }
    .imgInstituicao img{
        height: 230px;
        width: 260px;
        border-radius: 10px;
        max-width: min-content;
        object-fit: cover;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .containertext{
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        height: 100%;
        width: 340px;
    }
    .containertext div h3{
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 500;
    }
    .containertext div{
        font-size: 12px;
        text-align: justify;
    }
}